<template>
  <div>
    <div style="margin-top:200px;display:block">
      <p class="text-capitalize font-weight-black display-3 text-center">Services</p>
      <p class="text-center">
        <nuxt-link to="/" class="text-uppercase">bambut</nuxt-link>
        <v-icon color="black" size="20">mdi-arrow-right</v-icon>belaynesh
        antonios, Manufacturing & building technology.
      </p>
    </div>

    <div class="py-16" style="background-color:#f4f4f4;display:block;margin-top:100px">
      <v-container>
        <fourMain class="mt-16" />
      </v-container>
      <div style="margin-top:150px">
        <v-row>
          <v-card tile width="100%">
            <v-img
              gradient="to top right, rgba(100,115,201,.7), rgba(25,32,72,.9)"
              src="img/services.jpg"
            >
              <p class="mt-16 white--text text-center text-h2 font-weight-bold">our services</p>
              <v-card-text
                class="white--text text-center font-weight-bold"
                style="line-height:25px"
              >
                We are always aiming to exceed customer expectations and provide
                creative solutions to meet any kind of demand. Keeping up with
                the emerging trends, market needs and combining them with our
                technical and creative expertise We are always aiming to exceed
                customer expectations and provide creative solutions to meet any
                kind of demand. Keeping up with the emerging trends, market
                needs and combining them with our technical and creative
                expertise We are always aiming to exceed customer expectations
                and provide creative solutions to meet any kind of demand.
                Keeping up with the emerging trends, market needs and combining
                them with our technical and creative expertise We are always
                aiming to exceed customer expectations and provide creative
                solutions to meet any kind of demand. Keeping up with the
                emerging trends, market needs and combining them with our
                technical and creative expertise We are always aiming to exceed
                customer expectations and provide creative solutions to meet any
                kind of demand. Keeping up with the emerging trends, market
                needs and combining them with our technical and creative
                expertise
                <br />
                <br />
                <br />
                <span>- BAMBUT COMPANY</span>
              </v-card-text>
            </v-img>
          </v-card>
        </v-row>
      </div>
      <v-container v-if="servs">
        <v-row class="mt-16">
          <v-col v-for="service in servs" :key="service.id" cols="12" md="4">
            <v-card>
              <v-card-title>{{ service.name }}</v-card-title>
              <v-img :src="`${photo}${service.photos[0]}`"></v-img>
              <v-card-text>{{ service.description }}</v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-hover v-slot:default="{ hover }">
                  <v-btn
                    large
                    class="main mb-3 mr-3"
                    :color="`${hover ? 'main2' : 'main'}`"
                    dark
                    @click="singleServ(service.id)"
                  >
                    More Info
                    <v-icon>mdi-arrow-right</v-icon>
                  </v-btn>
                </v-hover>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </div>
    <upFooter :marTop="'mt-0'" />
  </div>
</template>
<style scoped>
.nuxt-link-active {
  color: black;
}
.nuxt-link-exact-active {
  color: black;
}

/* @supports (display: -webkit-box) {
  .selector {
    autoprefixer: off 
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: normal;
  }
} */
</style>
<script>
import fourMain from "~/components/fourMain";
export default {
  data() {
    return {
      photo: process.env.PHOTO_URL
    };
  },
  components: {
    fourMain
  },
  computed: {
    servs() {
      return this.$store.getters["items/loadedServ"];
    }
  },
  methods: {
    singleServ(id) {
      this.$router.push(`/services/${id}`);
    }
  }
};
</script>
