<template>
  <customTable :headers="headers" :info="info" />
</template>

<script>
import customTable from "~/components/customTable";
import axios from "axios";
import { mapActions } from "vuex";
export default {
  layout: "admin_main",
  middleware: "auth-admin",
  data() {
    return {
      info: { mode: "prod", icon: "mdi-tools", name: "PRODUCTS" },
      headers: [
        {
          text: "Product",
          align: "start",
          value: "name"
        },
        {
          text: "Description",
          value: "description",
          sortable: false,
          align: "start"
        },
        { text: "Quantity", value: "quantity" },
        { text: "Price", value: "price" },
        { text: "Actions", value: "actions", sortable: false }
      ]
    };
  },
  // mounted() {
  //   this.loadItems();
  // },
  // methods: {
  //   loadItems() {
  //     this.$store.dispatch("items/getItems", this.info.mode);
  //   },
  // },
  components: {
    customTable
  }
};
</script>
