<template>
  <div>
    <singleItem :item="product" :info="info"></singleItem>
    <upFooter :marTop="'mt-0'" />
  </div>
</template>

<script>
export default {
  data() {
    return {
      id: this.$route.params.id,
      info: "prod",
    };
  },

  computed: {
    product() {
      let prods = this.$store.getters["items/loadedProd"];
      return prods.find((el) => el.id === this.id);
    },
  },
};
</script>
