<template>
  <div class="pt-16" style="background-color:#fafafa;height:100vh">
    <v-card class="mx-auto" dense max-width="350" flat>
      <v-card-title>
        <v-row justify="center">
          <div>
            <v-img height="90" width="90" :src="require(`~/assets/img/logo.png`)" />
          </div>
        </v-row>
      </v-card-title>
      <v-card-text class="py-5">
        <v-form ref="form" class="px-6" @submit.prevent="onSubmit">
          <label for="email" class="font-weight-bold">Enter your email address</label>
          <v-text-field
            class="mt-3"
            id="email"
            outlined
            dense
            placeholder="User name/Email"
            prepend-inner-icon="mdi-account"
            type="email"
            v-model="email"
            :rules="emailRules"
          />

          <v-btn class="primary" dense type="submit">Send Email</v-btn>
        </v-form>
        <v-container class="mt-3">
          <v-alert
            v-model="notify"
            border="left"
            colored-border
            :color="color"
            elevation="2"
          >{{notify_message}}</v-alert>
        </v-container>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import axios from "axios";
export default {
  layout: "admin",
  data() {
    return {
      color: "",
      email: "",
      password: "",
      show: false,
      valid: true,
      notify: false,
      emailRules: [v => /.+@.+\..+/.test(v) || "E-mail must be valid"],
      passwordRules: [v => (v && v.length >= 3) || "Password too short"],
      notify_message: "hello"
    };
  },
  methods: {
    async onSubmit() {
      let mail = {
        email: this.email
      };
      try {
        let res = await axios.post(
          "http://localhost:3000/api/appUsers/reset",
          mail
        );
        if (res.status === 204) {
          this.color = "success";
          this.notify_message =
            "check your email now the reset token will expire soon!";
          this.notify = true;
        }
      } catch (err) {
        this.color = "error";
        this.notify_message = "Error Occured";
        this.notify = true;
      }
    }
  }
};
</script>

<style scoped></style>
