<template>
  <div class="pt-16" style="background-color:#fafafa;height:100vh">
    <v-card class="mx-auto" dense max-width="350" flat>
      <v-card-title>
        <v-row justify="center">
          <div>
            <v-img
              height="90"
              width="90"
              :src="require(`~/assets/img/logo.png`)"
            />
          </div>
        </v-row>
      </v-card-title>
      <v-card-text class="py-5">
        <v-form ref="form" class="px-6" @submit.prevent="onSubmit">
          <label for="pass" class="font-weight-bold">New Password</label>
          <v-text-field
            id="pass"
            class="mt-3"
            outlined
            dense
            v-model="password"
            placeholder="Password"
            :type="show ? 'text' : 'password'"
            :append-icon="show ? 'mdi-eye-off' : 'mdi-eye'"
            @mousedown="show = !show"
            @mouseup="show = !show"
            :rules="passwordRules"
          />
          <label for="cPass" class="font-weight-bold"
            >Confirm New Password</label
          >
          <v-text-field
            id="cPass"
            class="mt-3"
            outlined
            dense
            v-model="confirmPass"
            placeholder="Password"
            :type="show ? 'text' : 'password'"
            :append-icon="show ? 'mdi-eye-off' : 'mdi-eye'"
            @mousedown="show = !show"
            @mouseup="show = !show"
            :rules="passwordRules"
          />
          <v-container v-if="!confirmPassword">
            <v-alert
              dark
              dismissible
              v-model="error"
              type="error"
              v-text="error_message"
            />
          </v-container>
          <v-btn class="primary" dense type="submit">Reset Password</v-btn>
        </v-form>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import axios from "axios";
export default {
  layout: "admin",
  middleware: "check-resetToken",

  data() {
    return {
      confirmPass: "",
      password: "",
      error: false,
      error_message: "password mis-match",
      show: false,
      passwordRules: [(v) => (v && v.length >= 3) || "Password too short"],
    };
  },

  computed: {
    confirmPassword() {
      if (this.password === this.confirmPass) {
        return true;
      } else {
        this.error = true;
        return false;
      }
    },
  },
  methods: {
    async onSubmit() {
      let token = this.$route.query.reset_token;
      await axios.post(
        `http://localhost:3000/api/appUsers/reset-password?access_token=${token}`,
        { newPassword: this.confirmPass }
      );
    },
  },
};
</script>

<style scoped></style>
