<template>
  <customTable :headers="headers" :info="info" />
</template>

<script>
import customTable from "~/components/customTable";
export default {
  layout: "admin_main",
  middleware: "auth-admin",
  data() {
    return {
      info: { mode: "serv", icon: "mdi-toolbox-outline", name: "SERVICES" },
      headers: [
        {
          text: "Services",
          align: "start",
          value: "name"
        },
        {
          text: "Desc of Service",
          value: "description",
          sortable: false,
          align: "start"
        },
        { text: "Price", value: "price" },
        { text: "Actions", value: "actions", sortable: false }
      ]
    };
  },
  // mounted() {
  //   this.loadItems();
  // },
  // methods: {
  //   loadItems() {
  //     this.$store.dispatch("items/getItems", this.info.mode);
  //   },
  // },
  components: {
    customTable
  }
};
</script>
