<template>
  <div v-bind:style="{ backgroundColor: colorFx }">
    <v-row class="ma-0 pa-0">
      <v-col cols="12" md="6" class="pa-5">
        <v-card class="mx-auto pt-10 pr-10 pb-10 pl-0 transparent" max-width="100%" outlined>
          <div class="display-2 mb-7" style="display: block">
            Office Contacts
            <br />
            <br />
          </div>
          <div
            class="text-left"
            style="font-size: 16px;line-height: 36px; display:block"
          >The textile, textile product, and apparel manufacturing industries include establishments that process..</div>
          <v-list two-line :style="{backgroundColor: colorFx}">
            <v-list-item>
              <v-list-item-icon>
                <v-icon size="40">mdi-map-marker-outline</v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title
                  class="text-no-wrap font-weight-bold"
                  style="font-size:20px"
                >Around Imperial</v-list-item-title>
                <v-list-item-subtitle class="text-no-wrap">ADDIS ABABA, ETHIOPIA</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
            <v-list-item>
              <v-list-item-icon>
                <v-icon size="40">mdi-cellphone-android</v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title
                  class="text-no-wrap font-weight-bold"
                  style="font-size:20px"
                >+251-91-234-5678</v-list-item-title>
                <v-list-item-subtitle class="text-no-wrap">+251-91-234-5678</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-card>
      </v-col>
      <v-col cols="12" md="6" class="pa-0">
        <v-img src="img/background.jpeg" height="100%" width="100%"></v-img>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  props: {
    colorFx: {
      type: String,
      required: true
    }
  }
};
</script>