<template>
  <v-card>
    <v-data-table :headers="headers" :items="items" mobile-breakpoint="800" class="elevation-0">
      <template v-slot:top>
        <v-toolbar flat color="white">
          <v-toolbar-title class="font-weight-bold">
            <v-icon color="cyan" size="40" class="mr-2">
              {{
              info.icon
              }}
            </v-icon>
            {{ info.name }}
          </v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>

          <!-- this dialog is used for both create and update -->
          <v-dialog v-model="dialog" persistent max-width="500px">
            <template v-slot:activator="{ on }">
              <div class="d-flex">
                <v-btn color="cyan" dark class="ml-auto ma-3" v-on="on">
                  New
                  <v-icon small>mdi-plus-circle-outline</v-icon>
                </v-btn>
              </div>
            </template>
            <v-card>
              <v-card-title>
                <span v-if="editedItem.id">Edit {{ editedItem.name }}</span>
                <span v-else>Create</span>
              </v-card-title>
              <v-card-text>
                <v-row>
                  <v-col cols="12" sm="12">
                    <v-text-field v-model="editedItem.name" label="Name" clearable></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="12">
                    <v-textarea v-model="editedItem.description" label="Details" clearable></v-textarea>
                  </v-col>
                  <v-col cols="12" sm="6" v-if="info.mode === 'prod'">
                    <v-text-field v-model="editedItem.quantity" label="Quantity" clearable></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6">
                    <v-text-field v-model="editedItem.price" label="Price" clearable suffix="ETB"></v-text-field>
                  </v-col>
                </v-row>
              </v-card-text>
              <div v-if="!editedItem.id">
                <v-container>
                  <v-form>
                    <input
                      type="file"
                      accept="image/png, image/jpeg, image/bmp"
                      multiple
                      @change="uploadFile"
                    />
                  </v-form>
                </v-container>
              </div>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="showEditDialog()">Cancel</v-btn>
                <v-btn color="blue darken-1" text @click="saveItem(editedItem)">Save</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>

      <template v-slot:item.actions="{ item }">
        <div class="text-truncate">
          <v-icon small class="mr-2" @click="showEditDialog(item)" color="primary">mdi-pencil</v-icon>
          <v-icon small class="mr-2" @click="deleteItem(item)" color="pink">mdi-delete</v-icon>
          <v-icon small color="primary" @click="showPhotoDialog(item)">mdi-image-edit</v-icon>
          <v-dialog :retain-focus="false" v-model="dialogPhoto" persistent max-width="500px">
            <v-card>
              <v-card-title>
                <span>
                  <v-icon color="primary" class="mr-2">mdi-image-edit</v-icon>
                  Manage {{editedItem.name}} Photos
                </span>
              </v-card-title>
              <v-container>
                <v-row v-if="editedItem.photos">
                  <v-col v-for="pic in editedItem.photos" :key="pic" cols="12" md="6">
                    <div>
                      <v-img :src="`${photo}${pic}`"></v-img>
                    </div>
                    <div>
                      <v-icon color="red" @click="deletePhoto(editedItem,pic)">mdi-minus-circle</v-icon>
                    </div>
                  </v-col>
                </v-row>
                <div>
                  <v-icon color="primary">mdi-image-plus</v-icon>Add Photos
                </div>
                <div class="mt-5">
                  <v-form>
                    <input
                      type="file"
                      accept="image/png, image/jpeg, image/bmp"
                      multiple
                      @change="uploadFile"
                    />
                  </v-form>
                </div>
              </v-container>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" @click="showPhotoDialog()" text>Cancel</v-btn>
                <v-btn color="blue darken-1" text @click="addNewPic(editedItem)">Upload Photo</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </div>
      </template>
      <template v-slot:item.description="{ item }">
        <div class="text-truncate" style="width: 180px">{{ item.description }}</div>
      </template>
      <template v-slot:no-data>
        <div>
          No Data Availabe
          <v-icon>mdi-timer-sand</v-icon>Click New Button
        </div>
      </template>
    </v-data-table>
  </v-card>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      dialog: false,
      dialogPhoto: false,
      editedItem: {},
      files: null,
      photo: process.env.PHOTO_URL
    };
  },
  props: {
    headers: {
      type: Array,
      required: true
    },
    info: {
      type: Object,
      required: true
    }
  },
  computed: {
    items() {
      if (this.info.mode === "prod") {
        return this.$store.getters["items/loadedProd"];
      } else if (this.info.mode === "serv") {
        return this.$store.getters["items/loadedServ"];
      }
    }
  },
  methods: {
    showPhotoDialog(item) {
      this.editedItem = item || {};
      this.dialogPhoto = !this.dialogPhoto;
    },
    uploadFile(event) {
      this.files = event.target.files;
    },
    showEditDialog(item) {
      this.editedItem = { ...item } || {};
      this.dialog = !this.dialog;
    },
    saveItem(item) {
      let data = {
        info: this.info.mode,
        ...item
      };

      this.$store.dispatch("items/setItem", { data: data, files: this.files });
      this.editedItem = {};
      this.dialog = !this.dialog;
      this.files = null;
    },
    deleteItem(item) {
      let data = {
        info: this.info.mode,
        ...item
      };
      this.$store.dispatch("items/deleteItem", data);
    },
    deletePhoto(item, picName) {
      let data = {
        info: this.info.mode,
        ...item
      };

      this.$store.dispatch("items/deletePhoto", {
        data: data,
        picName: picName
      });
      this.dialogPhoto = false;
      this.editedItem = {};
    },
    addNewPic(item) {
      let data = {
        info: this.info.mode,
        ...item
      };

      this.$store.dispatch("items/addNewPic", {
        data: data,
        files: this.files
      });
      this.dialogPhoto = false;
      this.editedItem = {};
      this.files = null;
    }
  }
};
</script>
