<template>
  <v-sheet class="mx-auto" elevation="12" max-width="calc(100% - 32px)">
    <v-row class="ma-0">
      <!-- <v-hover v-slot:default="{hover}" close-delay="200"> -->
      <v-col v-for="item in items" :key="item.title" class="white pa-0" cols="12" md="3">
        <v-hover v-slot:default="{hover}">
          <v-card
            :class="`${hover?'hvColor':'nmColor'}`"
            style="height:417px;padding: 60px 50px;"
            :color="`${hover? 'main2': ''}`"
            tile
            outlined
          >
            <v-row class="mb-8">
              <v-icon size="60" :color="`${hover? 'white': 'main'}`">{{item.icon}}</v-icon>
            </v-row>

            <v-row class="text-left mb-8" style="font-size: 26px;line-height: 26px;">{{item.title}}</v-row>
            <v-row style="font-size: 16px;line-height: 26px;">{{item.desc}}</v-row>
          </v-card>
        </v-hover>
      </v-col>
    </v-row>
  </v-sheet>
</template>
<script>
export default {
  data() {
    return {
      items: [
        {
          icon: "mdi-clipboard-pulse-outline",
          title: "CM Production",
          desc:
            "Manufacturer textile’s weaving unit is fully equipped with sulzer, auto and power looms…"
        },
        {
          icon: "mdi-trophy-outline",
          title: "LM Building",
          desc:
            "We manage our processing requirements to utilize specialized services…"
        },
        {
          icon: "mdi-lightbulb-on-outline",
          title: "Finishing",
          desc:
            "We have been engaged with modern units for all our requirements of continuous bleach…"
        },
        {
          icon: "mdi-rocket-launch-outline",
          title: "Other ME",
          desc:
            "At Manufacturer Textile, we stitch fabric as well as garments. Our in-house stitching…"
        }
      ]
    };
  }
};
</script>

<style scoped>
.hvColor {
  color: white;
}
.nmColor {
  color: grey;
}
</style>
