<template>
  <v-row>
    <v-col v-for="prod in topProds" :key="prod.id" cols="12" md="4">
      <v-hover v-slot:default="{ hover }">
        <v-card color="grey lighten-3" tile max-width="450" class="mx-auto">
          <v-img src="img/background.jpeg" height="290">
            <v-expand-transition>
              <div
                v-if="hover"
                class="d-flex transition-fast-in-fast-out main2 darken-2 v-card--reveal display-1 white--text"
              >{{prod.price}} ETB</div>
            </v-expand-transition>
          </v-img>
          <v-card-text class="pt-6" style="position: relative;">
            <v-hover v-slot:default="{hover}">
              <v-btn
                absolute
                :color="`${hover?'main2':'main'}`"
                class="white--text"
                fab
                large
                right
                top
                @click="singleProd(prod.id)"
              >
                <v-icon>mdi-page-next</v-icon>
              </v-btn>
            </v-hover>

            <div class="font-weight-light grey--text title mb-2">For the perfect CM</div>
            <h3 class="display-1 font-weight-light main--text mb-2">{{prod.name}}</h3>
            <div class="font-weight-light title mb-2">
              Our construction machines delight any engineer.
              <br />Made of Best raw Materials
            </div>
          </v-card-text>
        </v-card>
      </v-hover>
    </v-col>
  </v-row>
</template>

<style scoped>
.v-card--reveal {
  align-items: center;
  bottom: 0;
  justify-content: center;
  opacity: 0.7;
  position: absolute;
  width: 100%;
  height: 100%;
}
</style>

<script>
export default {
  computed: {
    topProds() {
      return this.$store.getters["items/topProds"];
    }
  },
  methods: {
    singleProd(id) {
      this.$router.push(`/products/${id}`);
    }
  }
};
</script>
