<template>
  <div>
    <div v-if="item" style="margin-top:200px;display:block">
      <p
        class="text-capitalize text-h3 font-weight-bold text-center"
        v-if="info === 'prod'"
      >
        Product
      </p>
      <p
        class="text-capitalize text-h3 font-weight-bold text-center"
        v-if="info === 'serv'"
      >
        Service
      </p>
      <p class="text-center">
        <nuxt-link to="/" class="text-uppercase">bambut</nuxt-link>
        <v-icon color="black" size="20">mdi-arrow-right</v-icon>
        <span v-if="info === 'prod'">products</span>
        <span v-if="info === 'serv'">services</span>
        <v-icon color="black" size="20">mdi-arrow-right</v-icon>
        {{ item.name }}
      </p>
    </div>

    <div
      v-if="item"
      class="py-16"
      style="background-color:#f4f4f4;display:block;margin-top:100px"
    >
      <v-container>
        <v-row>
          <v-col cols="12" md="6">
            <v-carousel
              cycle
              height="430"
              hide-delimiter-background
              show-arrows-on-hover
            >
              <v-carousel-item
                v-for="(pic, i) in item.photos"
                :key="i"
                :src="`${photo}${pic}`"
              ></v-carousel-item>
            </v-carousel>
          </v-col>
          <v-col cols="12" md="6">
            <div class="text-h3">
              <p>{{ item.name }}</p>
            </div>
            <div>
              <p class="text-h5">{{ item.price }} ETB</p>
              <P class="text-h6" v-if="info === 'prod'">
                <v-icon color="main">mdi-counter</v-icon>
                {{ item.quantity }}
              </P>
            </div>
            <div>
              <p
                class="text-justify text-left"
                style="font-size: 16px;line-height: 26px;"
              >
                {{ item.description }}
              </p>
            </div>
          </v-col>
        </v-row>
      </v-container>
      <v-container>
        <div>
          <p class="main--text text-h4 text-uppercase">Enquiry</p>
        </div>
        <v-divider class="mb-10"></v-divider>

        <v-form ref="form">
          <v-row>
            <v-col cols="12" md="6">
              <v-text-field
                prepend-inner-icon="mdi-account"
                solo
                height="55"
                flat
                color="main"
                placeholder="Name*"
                v-model="name"
                :rules="[() => !!name || 'Name is required']"
              ></v-text-field>
            </v-col>
            <v-col cols="12" md="6">
              <v-text-field
                prepend-inner-icon="mdi-domain"
                solo
                height="55"
                flat
                color="main"
                v-model="company"
                placeholder="Company"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" md="6">
              <v-text-field
                prepend-inner-icon="mdi-email"
                solo
                height="55"
                flat
                color="main"
                placeholder="Email*"
                v-model="email"
                :rules="emailRules"
              ></v-text-field>
            </v-col>
            <v-col cols="12" md="6">
              <v-text-field
                prepend-inner-icon="mdi-map-marker"
                solo
                height="55"
                flat
                color="main"
                placeholder="Address*"
                v-model="address"
                :rules="[() => !!name || 'Address is required']"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" md="6">
              <v-textarea
                prepend-inner-icon="mdi-message"
                solo
                flat
                color="main"
                placeholder="Message*"
                v-model="message"
                :rules="[() => !!name || 'Message is required']"
              ></v-textarea>
            </v-col>
            <v-col cols="12" md="6">
              <v-text-field
                prepend-inner-icon="mdi-phone"
                solo
                height="55"
                flat
                color="main"
                v-model="phone"
                placeholder="Your Phone"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-hover v-slot:default="{ hover }">
            <v-btn
              x-large
              depressed
              :color="`${hover ? 'main2' : 'main'}`"
              class="white--text"
              @click="sendMessage"
            >
              Submit
              <v-icon class="ml-2">mdi-email-send-outline</v-icon>
            </v-btn>
          </v-hover>
        </v-form>
      </v-container>
    </div>
  </div>
</template>
<style scoped>
.nuxt-link-active {
  color: black;
}
.nuxt-link-exact-active {
  color: black;
}
</style>
<script>
export default {
  data() {
    return {
      photo: process.env.PHOTO_URL,
      name: "",
      email: "",
      company: "",
      phone: "",
      address: "",
      message: "",
      emailRules: [(v) => /.+@.+\..+/.test(v) || "E-mail must be valid"],
    };
  },
  methods: {
    sendMessage() {
      let data = {
        senderName: this.name,
        senderEmail: this.email,
        senderPhone: this.phone,
        senderLocation: this.address,
        text: this.message,
        company: this.company,
        subject: `about ${this.item.name}`,
        new: true,
      };
      this.$store.dispatch("messages/sendMessage", data);
      // this.name = "";
      // this.email = "";
      // this.phone = "";
      // this.address = "";
      // this.message = "";
      // this.company = "";
      this.$refs.form.reset();
    },
  },
  props: {
    item: {
      type: Object,
      required: true,
    },
    info: {
      type: String,
      required: true,
    },
  },
};
</script>
