<template>
  <div :class="`back ${marTop}`">
    <v-divider></v-divider>
    <v-row>
      <v-col cols="1" class="ml-16 pr-0">
        <v-img height="35" width="35" :src="require(`~/assets/img/logo.png`)" />
      </v-col>
      <v-col
        class="text-uppercase text-left black--text font-weight-bold"
        style="font-size:22px;"
      >bambut</v-col>
    </v-row>
    <v-divider></v-divider>
  </div>
</template>
<script>
export default {
  props: {
    marTop: {
      type: String,
      required: true
    }
  }
};
</script>