<template>
  <div>
    <div style="margin-top:200px;display:block">
      <p class="text-capitalize font-weight-black display-3 text-center">
        products
      </p>
      <p class="text-center">
        <nuxt-link to="/" class="text-uppercase">bambut</nuxt-link>
        <v-icon color="black" size="20">mdi-arrow-right</v-icon>belaynesh
        antonios, Manufacturing & building technology.
      </p>
    </div>

    <div
      class="py-16"
      style="background-color:#f4f4f4;display:block;margin-top:100px"
    >
      <v-container class="mt-16" id="pro">
        <v-row>
          <v-col align-self="center">
            <div>Showing {{ products.length }} of {{ totalCount }} results</div>
          </v-col>
          <v-col cols="3">
            <v-select
              v-model="selected"
              :items="items"
              label="Solo field"
              solo
              @input="selectSort"
            ></v-select>
          </v-col>
        </v-row>
        <v-divider></v-divider>
      </v-container>

      <v-container class="my-0">
        <v-row>
          <v-col
            v-for="prod in products"
            :key="prod.id"
            align-self="center"
            class="ma-0"
            style="height:500px;"
            md="3"
          >
            <v-hover v-slot:default="{ hover }">
              <v-card
                :color="`${hover ? 'white' : '#f4f4f4'}`"
                style=" height:470px"
                max-width="100%"
                :class="`${hover ? 'mt-n4' : ''} mx-auto`"
                outlined
              >
                <v-img :src="`${photo}${prod.photos[0]}`" height="60%"></v-img>
                <v-list two-line :color="`${hover ? 'white' : '#f4f4f4'}`">
                  <v-list-item>
                    <v-list-item-content>
                      <v-list-item-title>
                        <div class="selector">
                          <p>{{ prod.name }}</p>
                        </div>
                      </v-list-item-title>
                      <v-list-item-subtitle>{{
                        `${prod.price} ETB`
                      }}</v-list-item-subtitle>
                    </v-list-item-content>
                  </v-list-item>
                </v-list>
                <v-card-actions class="pl-4">
                  <v-hover v-slot:default="{ hover }">
                    <v-btn
                      x-large
                      depressed
                      :class="`${hover ? 'main2' : 'main'} white--text`"
                      :to="`products/${prod.id}`"
                    >
                      Read More
                      <v-icon right>mdi-arrow-right</v-icon>
                    </v-btn>
                  </v-hover>
                </v-card-actions>
              </v-card>
            </v-hover>
          </v-col>
        </v-row>
      </v-container>
      <div class="text-center">
        <v-pagination
          color="main"
          v-model="page"
          :length="pages"
          circle
          @input="handleChange"
        ></v-pagination>
      </div>
    </div>
    <upFooter :marTop="'mt-0'" />
  </div>
</template>
<style scoped>
.nuxt-link-active {
  color: black;
}
.nuxt-link-exact-active {
  color: black;
}

@supports (display: -webkit-box) {
  .selector {
    /* autoprefixer: off */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    white-space: normal;
  }
}
</style>
<script>
import axios from "axios";
export default {
  data() {
    return {
      selected: "name",
      page: 1,
      totalCount: 0,
      products: [],
      photo: process.env.PHOTO_URL,
      items: [
        { text: "default sorting", value: "name" },
        { text: "sort by price", value: "price" },
        { text: "sort by date", value: "logTime" },
      ],
    };
  },
  methods: {
    // onClick() {
    //   this.$router.push("/products/singleProduct");
    // },
    selectSort(n) {
      this.selected = n;
      this.fetchProduct();
    },
    handleChange(value) {
      this.page = value;
      this.fetchProduct();
      //this.$router.push("/products/#pro");
    },
    async fetchProduct() {
      let url = `http://localhost:3000/api/products?filter[limit]=8&filter[skip]=${(this
        .page -
        1) *
        8}&&filter[order]=${this.selected} ASC`;
      let res = await axios.get(url);
      this.totalCount = res.headers["x-total-count"];

      this.products = res.data;
    },
  },
  mounted() {
    this.fetchProduct();
  },

  computed: {
    pages() {
      return this.products.length ? Math.ceil(this.totalCount / 8) : 0;
    },
  },
};
</script>
