<template>
  <div>
    <singleItem :item="service" :info="info"></singleItem>
    <upFooter :marTop="'mt-0'" />
  </div>
</template>

<script>
export default {
  data() {
    return {
      id: this.$route.params.id,
      info: "serv",
    };
  },

  computed: {
    service() {
      let servs = this.$store.getters["items/loadedServ"];
      return servs.find((el) => el.id === this.id);
    },
  },
};
</script>
