<template>
  <v-app dark>
    <v-navigation-drawer
      v-model="drawer"
      src="https://cdn.vuetifyjs.com/images/backgrounds/bg-2.jpg"
      fixed
      app
      dark
    >
      <v-list-item class="pa-4">
        <v-list-item-avatar>
          <v-img src="http://localhost:3000/image/sorry.png"></v-img>
        </v-list-item-avatar>

        <v-list-item-content>
          <v-list-item-title class="title text-uppercase">
            {{
            this.$store.state.admin.userInfo.name
            }}
          </v-list-item-title>
          <v-list-item-subtitle>
            {{
            this.$store.state.admin.userInfo.email
            }}
          </v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>

      <v-list class="px-4" nav>
        <v-list-item-group color="main">
          <v-list-item v-for="item in items" :key="item.title" :to="item.to">
            <v-list-item-icon>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title class="font-weight-bold">
                {{
                item.title
                }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar class="transparent" app absolute flat>
      <v-btn @click.stop="drawer = !drawer" class="mr-3" fab rounded depressed>
        <v-icon>mdi-dots-vertical</v-icon>
      </v-btn>
      <v-toolbar-title>{{ this.$route.name.split('-')[1].toUpperCase() }}</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon>
        <v-badge
          color="red"
          :content="this.$store.state.messages.newCount"
          :value="this.$store.state.messages.newCount"
          bordered
          overlap
        >
          <v-icon>mdi-bell</v-icon>
        </v-badge>
      </v-btn>
      <v-btn text color="red" @click="$auth.logout()">
        Log Out
        <v-icon class="ml-1">mdi-logout</v-icon>
      </v-btn>
    </v-app-bar>
    <v-main style="background-color:#eee">
      <v-container class="pa-10">
        <nuxt />
      </v-container>
    </v-main>
    <!-- <v-footer app absolute>
      <span>&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>-->
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      drawer: true,
      items: [
        { title: "Dashboard", icon: "mdi-view-dashboard", to: "/admin/home" },
        { title: "Products", icon: "mdi-tools", to: "/admin/products" },
        { title: "Services", icon: "mdi-toolbox", to: "/admin/services" },
        {
          title: "Enquiries",
          icon: "mdi-message-text",
          to: "/admin/enquiries"
        },
        { title: "User Profile", icon: "mdi-account", to: "/admin/profile" }
      ]
    };
  }
};
</script>
