<template>
  <v-app>
    <!-- <v-app-bar app>
      <v-div v-if="$auth.loggedIn">
        hello, welcome User
        <v-btn @click="$auth.logout()">Log Out</v-btn>
      </v-div>
      <v-div v-else class="red--text">Login</v-div>
    </v-app-bar>-->
    <v-main>
      <nuxt />
    </v-main>
  </v-app>
</template>