<template>
  <v-app light>
    <header>
      <v-app-bar
        class="white pa-0 hidden-xs-and-down font-weight-bold"
        app
        elevation="1"
        hide-on-scroll
      >
        <nuxt-link to="/">
          <div>
            <v-img height="35" width="135" :src="require(`~/assets/img/logowithname.png`)" />
          </div>
        </nuxt-link>

        <!-- <v-toolbar-title class="text-no-wrap text-uppercase black--text pr-3 ml-3">bambut</v-toolbar-title> -->
        <v-divider class="ml-4" vertical></v-divider>
        <v-toolbar-items>
          <v-btn text @click="onClickNav('/')" title="Home">
            <div class="kehone font-weight-bold">Home</div>
          </v-btn>
          <v-btn text @click="onClickNav('/about')" title="About Us">
            <div class="kehone font-weight-bold">About Us</div>
          </v-btn>
          <v-btn text @click="onClickNav('/services')" title="Services">
            <div class="kehone font-weight-bold">Services</div>
          </v-btn>
          <v-btn text @click="onClickNav('/products')" title="Product">
            <div class="kehone font-weight-bold">Products</div>
          </v-btn>
          <v-btn text @click="onClickNav('/contactUs')" title="Contact Us">
            <div class="kehone font-weight-bold">Contact Us</div>
          </v-btn>
        </v-toolbar-items>

        <v-spacer></v-spacer>
      </v-app-bar>

      <v-app-bar app class="white hidden-md-and-up">
        <v-dialog
          v-model="dialog"
          fullscreen
          hide-overlay
          transition="dialog-bottom-transition"
          dark
        >
          <template v-slot:activator="{ on }">
            <v-app-bar-nav-icon v-on="on"></v-app-bar-nav-icon>
          </template>
          <v-card style="border:1px red solid" class="main2 font-weight-bold">
            <v-app-bar flat class="main2">
              <v-toolbar-title>BAMBUT</v-toolbar-title>
              <v-spacer></v-spacer>
              <v-btn icon @click.native="dialog = false">
                <v-icon>mdi-close</v-icon>
              </v-btn>
            </v-app-bar>

            <v-list color="main2">
              <v-list-item @click="onClickNav('/')">
                <v-list-item-icon>
                  <v-icon>mdi-home-outline</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title title="back to Home">Home</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-list-item @click="onClickNav('/about')">
                <v-list-item-icon>
                  <v-icon>mdi-information-outline</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title title="About Bambut">About Us</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-list-item @click="onClickNav('/services')">
                <v-list-item-icon>
                  <v-icon>mdi-toolbox-outline</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title title="Our Services">Services</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-list-item @click="onClickNav('/products')">
                <v-list-item-icon>
                  <v-icon>mdi-tools</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title title="Our Products">Products</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-list-item @click="onClickNav('/contactUs')">
                <v-list-item-icon>
                  <v-icon>mdi-email-outline</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title title="Our Products">Contact Us</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </v-card>
        </v-dialog>
        <v-toolbar-title class="font-weight-bold pr-3 ml-3">BAMBUT</v-toolbar-title>
      </v-app-bar>
    </header>

    <nuxt />

    <v-footer dark padless>
      <v-card class="flex" flat tile>
        <v-card-title class="back black--text">
          <v-row class="mx-16 my-16 pa-4">
            <v-col v-for="item in footerData" :key="item.title" class="text-left" cols="12" md="3">
              <v-row
                class="mb-4 text-capitalize font-weight-black"
                style="font-size:18px"
              >{{ item.title }}</v-row>

              <v-row
                class="text-capitalize font-weight-light"
                v-for="list in item.lists"
                :key="list.title"
                style="font-size:16px"
              >
                <v-hover v-slot:default="{ hover }" open-delay="300">
                  <div>
                    <v-icon color="main" v-if="hover" size="16">mdi-arrow-right</v-icon>
                    <p
                      style="display:inline;line-height:36px;cursor:pointer"
                      :class="`${hover ? 'main--text' : 'black--text'}`"
                      @click="onFooterLinkClick(list.to)"
                    >{{ list.title }}</p>
                  </div>
                </v-hover>
              </v-row>
            </v-col>
            <v-col cols="12" md="3">
              <v-row
                class="mb-4 text-capitalize font-weight-black"
                style="font-size:18px"
              >shop with us</v-row>
              <v-row>
                <v-img max-width="150" :src="require(`~/assets/img/payment.png`)"></v-img>
              </v-row>
              <v-row class="text-capitalize font-weight-light text-justify" style="font-size:16px">
                bambut - belaynesh antonios, Manufacturing and building
                technology
              </v-row>
            </v-col>
          </v-row>
        </v-card-title>

        <v-card-text class="py-4 px-16 white--text text-center">
          <div>
            <v-btn v-for="icon in icons" :key="icon" class="mx-4" dark icon>
              <v-icon size="24px">{{ icon }}</v-icon>
            </v-btn>
          </div>
          <div>
            Terms & policy | Contact Us |
            {{ new Date().getFullYear() }} —
            <strong
              class="text-capitalize"
            >
              © bambut - belaynesh antonios, Manufacturing & building
              technology.
            </strong>
          </div>
        </v-card-text>
      </v-card>
    </v-footer>
  </v-app>
</template>

<style scoped>
.kehone:not(.is-active):hover:before {
  opacity: 1;
  bottom: 0;
}
.kehone:not(.is-active):hover {
  color: #333;
}

.kehone::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  background: #ff3167;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;
}

.kehone:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
</style>

<script>
export default {
  data: () => ({
    dialog: false,
    icons: [
      "mdi-facebook",
      "mdi-telegram",
      "mdi-instagram",
      "mdi-twitter",
      "mdi-gmail"
    ],
    footerData: [
      {
        title: "company",
        lists: [
          { title: "home", to: "/" },
          { title: "our factories", to: "#" },
          { title: "misson and strategy", to: "#" },
          { title: "charitable actions", to: "#" }
        ]
      },
      {
        title: "production",
        lists: [
          { title: "technology", to: "#" },
          { title: "products", to: "/products" },
          { title: "quality", to: "#" },
          { title: "sales geography", to: "#" }
        ]
      },
      {
        title: "contact us",
        lists: [
          { title: "address of factories", to: "#" },
          { title: "dealers", to: "#" },
          { title: "trading houses", to: "#" },
          { title: "brand shops", to: "#" }
        ]
      }
    ]
  }),
  methods: {
    onFooterLinkClick(navLink) {
      this.$router.push(navLink);
    },

    onClickNav(navLink) {
      this.$router.push(navLink);
      this.dialog = false;
    },
    migerm() {
      var items = document.querySelectorAll(".kehone");

      function handleIndicator(el) {
        items.forEach(function(item) {
          item.classList.remove("is-active");
          item.removeAttribute("style");
        });

        el.classList.add("is-active");
        el.style.color = el.getAttribute("active-color");
      }

      items.forEach(function(item, index) {
        item.addEventListener("click", function(e) {
          handleIndicator(e.target);
        });
        item.classList.contains("is-active") && handleIndicator(item);
      });
    }
  },
  mounted() {
    this.migerm();
  }
};
</script>
