<template>
  <div style="margin-top:200px;display:block">
    <p class="text-capitalize font-weight-black display-3 text-center">about us</p>
    <p class="text-center">
      <nuxt-link to="/" class="text-uppercase">bambut</nuxt-link>- belaynesh
      antonios, Manufacturing & building technology.
    </p>
    <v-divider></v-divider>
    <v-container>
      <v-row class="mt-16">
        <v-col cols="12" md="6" class="pa-0">
          <div>
            <video
              src="https://www.youtube.com/watch?v=TjCYlodm5MU"
              width="100%"
              height="90%"
              controls
            ></video>
          </div>
        </v-col>
        <v-col cols="12" md="6" align-self="center" class="text-left pa-16">
          <p
            class="text-weight-regular display-2"
            style="font-size:40px;line-height:50px"
          >Meet the BAMBUT</p>
          <p style="line-height:26px;font-size:16px">
            Belaynesh Antonios Manufacturing and Building Technology is a
            manufacturing company work on Addis Ababa- Ethiopia. Its target area
            is mainly on construction material production and finishing works,
            but also engaged in the production of miscellaneous engineering
            products.
          </p>
        </v-col>
      </v-row>
      <v-row style="height:100%;margin-top:100px">
        <v-col cols="12" md="6" align-self="center" class="text-left pa-16">
          <p
            class="text-weight-regular display-2 text-capitalize"
            style="font-size:40px;line-height:50px"
          >founder's note</p>
          <p style="line-height:26px;font-size:16px">
            The company Belaynesh Antonios manufacturing and building technology
            is a fast growing private owned company which works to fulfill its
            destiny on improvement of construction sector gaps, in Ethiopia. The
            company works on four main categories:-Construction materials
            production, light machine building, finishing works and other
            miscellaneous engineering.
            <br />
            <br />CEO: Arega Antonios
          </p>
        </v-col>
        <v-col cols="12" md="6" class="pa-0">
          <div>
            <v-img src="img/factory_worker.jpg" height="100%"></v-img>
          </div>
        </v-col>
      </v-row>
      <bamAddr :colorFx="myclr" style="margin-top:100px"></bamAddr>

      <div class="text-center text-h3 font-weight-bold" style="margin-top:100px">
        <v-icon size="70" color="main" class="mr-5">mdi-trophy</v-icon>
        <span class="text-decoration-underline">
          Awards
          and Recognition
        </span>
      </div>
      <v-row class="mt-10">
        <div class="text-center" style="line-height:25px;font-size:16px">
          Belaynesh Antonios manufacturing and building technology was multi award winning company since its birth date.
          Only four months old when winning its first award, on 11th of June, 2019 won medal from minister of innovation and technology – Ethiopia and accepted its recognition and medal from the hand of Dr. Abiy Ahmed prime minister of Ethiopia at African union hall.
          On18th October 2019 accepted recognition certificate from save the children international (SCI) in Nairobi, Kenya.
          On November 2nd , 2019 accepted recognition certificate for its innovative products from IBA ETHIOPIA during African innovation week which held in African union( from October 28th – November 2nd , 2019) .
        </div>
      </v-row>
      <v-row class="mt-10">
        <v-col cols="12" md="4">
          <v-img src="img/background.jpeg"></v-img>
        </v-col>
        <v-col cols="12" md="4">
          <v-img src="img/background.jpeg"></v-img>
        </v-col>
        <v-col cols="12" md="4">
          <v-img src="img/background.jpeg"></v-img>
        </v-col>
      </v-row>
    </v-container>
    <upFooter :marTop="'mt-16'" />
  </div>
</template>
<style scoped>
.nuxt-link-active {
  color: black;
}
.nuxt-link-exact-active {
  color: black;
}
</style>
<script>
export default {
  computed: {
    myclr() {
      return "#f4f4f4";
    }
  }
};
</script>
