<template>
  <div class="pa-0" style="background-color:#f4f4f4">
    <v-layout column justify-center align-center>
      <v-flex xs12 sm8 md6>
        <div>
          <v-img
            style=" background-position: center center;
  background-size: cover;"
            max-height="90%"
            src="img/background.jpeg"
          >
            <v-container style="margin-top:200px">
              <v-row style="margin-bottom:280px">
                <v-col cols="12" md="6">
                  <v-responsive class="overflow-visible">
                    <div
                      class="text-capitalize text-center pl-2 mb-9 text-h3 text-sm-left"
                      style="line-height: 52px"
                    >
                      Manufacturer & Exporter Of Fabulous Fabrics & Made Ups
                      <div class="font-weight-black mt-3">
                        "
                        <span class="red--text">JEZU</span>
                        <span class="yellow--text">UFAM</span>
                        <span class="blue--text">TOBIE</span>
                        "
                      </div>
                    </div>
                    <div
                      class="text-capitalize text-center text-sm-left pl-2 mb-9"
                      style="font-size: 14px;line-height: 24px"
                    >
                      In the list of importers – 45 countries: Germany, Spain,
                      Italy, Poland, Portugal, Turkey, South Korea, Japan, etc.
                    </div>
                    <div class="ml-2 text-center text-sm-left">
                      <v-hover v-slot:default="{ hover }">
                        <v-btn
                          large
                          :color="`${hover ? 'main2' : 'main'}`"
                          class="white--text mb-3"
                          to="/about"
                        >
                          Learn More
                          <v-icon right>mdi-arrow-right</v-icon>
                        </v-btn>
                      </v-hover>
                    </div>
                  </v-responsive>
                </v-col>
                <v-col cols="12" align-self="center" class="text-center" md="6">
                  <!-- <v-hover v-slot:default="{ hover }" open-delay="200"> -->
                  <v-btn icon large color="white" style="background-color:white">
                    <v-icon size="100" color="main" class="btnn">mdi-play-circle</v-icon>
                  </v-btn>
                  <!-- </v-hover> -->
                </v-col>
              </v-row>
            </v-container>
          </v-img>
        </div>
      </v-flex>
    </v-layout>

    <v-container>
      <fourMain class="v-sheet--offset" />
      <v-row class="mb-16">
        <v-col cols="12" md="6" class="pa-0">
          <v-card class="mx-auto pt-10 pr-10 pb-10 pl-0 transparent" max-width="100%" outlined>
            <v-list-item three-line>
              <v-list-item-content>
                <div class="mb-4">About Us</div>
                <div class="display-2 mb-7">Our Capabilities</div>
                <div class="text-left" style="font-size: 16px;line-height: 36px;">
                  We are always aiming to exceed customer expectations and
                  provide creative solutions to meet any kind of demand. Keeping
                  up with the emerging trends, market needs and combining them
                  with our technical and creative expertise…
                </div>
              </v-list-item-content>
            </v-list-item>

            <v-card-actions class="mt-7">
              <div class="ml-2">
                <v-hover v-slot:default="{ hover }">
                  <v-btn
                    large
                    :color="`${hover ? 'main2' : 'main'}`"
                    class="white--text"
                    to="/about"
                  >
                    Learn More
                    <v-icon right>mdi-arrow-right</v-icon>
                  </v-btn>
                </v-hover>
              </div>
            </v-card-actions>
          </v-card>
        </v-col>
        <v-col cols="12" md="6">
          <client-only>
            <v-carousel
              cycle
              height="430"
              hide-delimiter-background
              show-arrows-on-hover
              hide-delimiters
            >
              <v-carousel-item v-for="(slide, i) in slides" :key="i" :src="`${photo}${slide}`"></v-carousel-item>
            </v-carousel>
          </client-only>
        </v-col>
      </v-row>

      <imageCard />
      <v-divider class="mt-16 mb-16"></v-divider>
      <bamAddr :colorFx="myclr"></bamAddr>
    </v-container>

    <upFooter :marTop="'mt-16'" />
  </div>
</template>

<style scoped>
.v-card--reveal {
  align-items: center;
  bottom: 0;
  justify-content: center;
  opacity: 0.7;
  position: absolute;
  width: 100%;
}

/* .btnn:hover::after {
  transform: scale(1.4) scaleY(1.6);
  opacity: 0;
} */

.v-sheet--offset {
  top: -180px;
  position: relative;
}
</style>

<script>
import imageCard from "../components/imageCard";
import fourMain from "~/components/fourMain";
export default {
  data() {
    return {
      photo: process.env.PHOTO_URL,
      links: [
        "mdi-facebook",
        "mdi-telegram",
        "mdi-instagram",
        "mdi-twitter",
        "mdi-gmail"
      ]
    };
  },
  components: {
    imageCard,
    fourMain
  },
  mounted() {
    this.$store.dispatch("items/getItems", "prod");
    this.$store.dispatch("items/getItems", "serv");
  },
  computed: {
    myclr() {
      return "white";
    },

    imageHeight() {
      switch (this.$vuetify.breakpoint.name) {
        // case "xs":
        //   return "90%";
        case "sm":
          return "100%";
        case "md":
          return "100%";
        case "lg":
          return "100%";
        case "xl":
          return "100%";
      }
    },
    slides() {
      let data = this.$store.getters["items/loadedProd"];
      let newArr = data.map(item => item.photos[0]);
      return newArr;
    }
  }
};
</script>
