<template>
  <client-only>
    <v-layout column>
      <v-flex xs12 sm8 md6>
        <v-row>
          <v-col cols="12" md="4">
            <v-card class="mt-4" max-width="400">
              <v-sheet
                class="v-sheet--offset mx-auto"
                color="cyan"
                elevation="12"
                max-width="calc(100% - 32px)"
              >
                <v-sparkline
                  :labels="labels"
                  :value="this.$store.state.items.servGraph"
                  color="white"
                  line-width="2"
                  padding="16"
                ></v-sparkline>
              </v-sheet>

              <v-card-text class="pt-0">
                <div
                  class="title font-weight-light mb-2"
                >Total: {{this.$store.state.items.services.length}} Services</div>
                <div
                  class="subheading font-weight-light grey--text"
                >Services In {{ new Date().getFullYear() }}</div>
                <v-divider class="my-2"></v-divider>
                <v-icon class="mr-2" small>mdi-alert-circle</v-icon>
                <span
                  class="caption grey--text font-weight-light"
                >graph shows only {{new Date().getFullYear()}} services</span>
              </v-card-text>
            </v-card>
          </v-col>
          <v-col cols="12" md="4">
            <v-card class="mt-4" max-width="400">
              <v-sheet
                class="v-sheet--offset mx-auto"
                color="cyan"
                elevation="12"
                max-width="calc(100% - 32px)"
              >
                <v-sparkline
                  :labels="labels"
                  :value="this.$store.state.items.prodGraph"
                  color="white"
                  line-width="2"
                  padding="16"
                ></v-sparkline>
              </v-sheet>

              <v-card-text class="pt-0">
                <div
                  class="title font-weight-light mb-2"
                >Total: {{this.$store.state.items.products.length}} Products</div>
                <div
                  class="subheading font-weight-light grey--text"
                >Products In {{ new Date().getFullYear() }}</div>
                <v-divider class="my-2"></v-divider>
                <v-icon class="mr-2" small>mdi-alert-circle</v-icon>
                <span
                  class="caption grey--text font-weight-light"
                >graph shows only {{new Date().getFullYear()}} products</span>
              </v-card-text>
            </v-card>
          </v-col>
          <v-col cols="12" md="4">
            <v-card class="mt-4" max-width="400">
              <v-sheet
                class="v-sheet--offset mx-auto"
                color="cyan"
                elevation="12"
                max-width="calc(100% - 32px)"
              >
                <v-sparkline
                  :labels="labels"
                  :value="this.$store.state.messages.enqGraph"
                  color="white"
                  line-width="2"
                  padding="16"
                ></v-sparkline>
              </v-sheet>

              <v-card-text class="pt-0">
                <div
                  class="title font-weight-light mb-2"
                >Total: {{this.$store.state.messages.messages.length}} Enquiries</div>

                <div
                  class="subheading font-weight-light grey--text"
                >Enquiries In {{ new Date().getFullYear() }}</div>
                <v-divider class="my-2"></v-divider>
                <v-icon class="mr-2" small>mdi-alert-circle</v-icon>
                <span
                  class="caption grey--text font-weight-light"
                >graph shows only {{new Date().getFullYear()}} enquiries</span>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-flex>
    </v-layout>
  </client-only>
</template>

<script>
import axios from "axios";
export default {
  layout: "admin_main",
  middleware: "auth-admin",

  data() {
    return {
      labels: [
        "jan",
        "feb",
        "mar",
        "apr",
        "may",
        "jun",
        "jul",
        "aug",
        "sep",
        "oct",
        "nov",
        "dec"
      ],
      value: [1, 2, 0, 4, 5, 6]
    };
  },
  mounted() {
    this.setup();
  },
  methods: {
    setup() {
      this.$store.dispatch("items/getItems", "prod");
      this.$store.dispatch("items/getItems", "serv");
      this.$store.dispatch("messages/getMessages");
    }
    // async getSocial() {
    //   await axios
    //     .get(
    //       `https://cors-anywhere.herokuapp.com/https://graph.facebook.com/${this.fbName}?callback=?`
    //     )
    //     .then(res => {
    //       console.log(res);
    //     })
    //     .catch(err => console.log("this error new ", err));
    // }
  }
};
</script>

<style scoped>
.v-sheet--offset {
  top: -24px;
  position: relative;
}
</style>