<template>
  <div>
    <v-list v-if="items.length > 0">
      <v-list-item-group multiple>
        <template v-for="(item, index) in items">
          <v-list-item :key="item.id">
            <v-list-item-content>
              <v-list-item-title v-text="item.senderName"></v-list-item-title>
              <v-list-item-subtitle class="text--primary" v-text="item.senderEmail"></v-list-item-subtitle>
              <v-list-item-subtitle v-if="item.senderPhone" v-text="item.senderPhone"></v-list-item-subtitle>
              <v-list-item-subtitle v-if="item.company">{{item.company}}</v-list-item-subtitle>
              <v-list-item-subtitle
                v-if="item.senderLocation && item.senderLocation !== 'default'"
                v-text="item.senderLocation"
              ></v-list-item-subtitle>
              <v-list-item-title v-if="item.subject">Subject: {{item.subject}}</v-list-item-title>
              <v-card-text>{{item.text}}</v-card-text>
            </v-list-item-content>

            <v-list-item-action>
              <v-list-item-action-text>{{new Date(item.logTime).getFullYear()}}</v-list-item-action-text>
              <v-btn icon @click="openDialog({email:item.senderEmail,name: item.senderName})">
                <v-icon>mdi-reply</v-icon>
              </v-btn>
              <v-dialog persistent :retain-focus="false" v-model="dialog" max-width="600">
                <!-- <template v-slot:activator="{on}">
                
                </template>-->
                <v-card>
                  <v-card-title>Reply Email</v-card-title>

                  <v-card-text>
                    <!-- <label class="font-weight-bold">To: {{item.senderEmail}}</label> -->
                    To:
                    <v-text-field
                      color="cyan"
                      disabled
                      rounded
                      filled
                      :value="item.senderEmail"
                      dense
                    ></v-text-field>
                    <v-text-field
                      color="cyan"
                      v-model="subject"
                      class="mt-3"
                      dense
                      placeholder="Subject"
                      outlined
                    ></v-text-field>
                    <v-textarea color="cyan" v-model="message" placeholder="Message..." outlined></v-textarea>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="red" text @click="dialog = false">Cancel</v-btn>
                    <v-btn class="white--text" color="cyan" @click="replyEmail">
                      Send
                      <v-icon class="ml-2">mdi-send-circle-outline</v-icon>
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
              <v-icon color="red" @click="deleteMessage(item.id)">mdi-trash-can-outline</v-icon>
            </v-list-item-action>
          </v-list-item>

          <v-divider v-if="index + 1 < items.length" :key="index"></v-divider>
        </template>
      </v-list-item-group>
    </v-list>

    <v-layout v-else class="pa-10">
      <v-flex class="text-center font-weight-bold text-h3">
        <div>
          <v-icon size="100">mdi-spider-web</v-icon>
        </div>
        <div class="grey--text">no messages</div>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
import axios from "axios";
export default {
  layout: "admin_main",
  middleware: "auth-admin",
  data() {
    return {
      dialog: false,
      email: "",
      name: "",
      subject: "",
      message: ""
    };
  },
  mounted() {
    this.readMessages();
  },
  methods: {
    readMessages() {
      this.$store.dispatch("messages/readMessages");
    },
    deleteMessage(id) {
      this.$store.dispatch("messages/deleteMessage", id);
    },
    async replyEmail() {
      let data = JSON.stringify({
        user: {
          email: this.email,
          name: this.name
        },
        text: this.message,
        subject: this.subject
      });

      try {
        this.dialog = false;
        let res = await axios.get(
          `http://localhost:3000/api/messages/send-email-for-Customer?emailInfo=${data}`
        );
        if (res.status === 204) {
          //sent message UI

          //clear and close dialog
          this.subject = "";
          this.message = "";
        }
      } catch (err) {
        console.log(err);
        //error message UI

        //clear and close dialog
        this.subject = "";
        this.message = "";
        this.dialog = false;
      }
    },
    openDialog(mailInfo) {
      this.dialog = true;
      this.email = mailInfo.email;
      this.name = mailInfo.name;
      console.log(mailInfo);
    }
  },
  computed: {
    items() {
      return this.$store.getters["messages/loadMessages"];
    }
  }
};
</script>